.Board {
    display: grid;
    place-items: center;
    width: fit-content;
    margin: 10px;
  }
  
  .tile {
    min-width: 25px;
    min-height: 25px;
    position: relative;
  }
  
  .tile-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    outline: none;
    border-radius: 2px;
  }
  
  .tile-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .tile-value {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #Tile-1{
    color: blue;
  }

  #Tile-2{
    color: greenyellow;
  }

  #Tile-3{
    color: palevioletred;
  }

  .Header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 20px;
    width: 100%;
  }

  .Header-item {
    box-shadow: 0 0 5px 5px rgba(255,255,255,0.2);
    height: 50px;
    width: 70px;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    place-items: center;
  }

  #Mine-1{
    background: red;
  }