.Board {
    display: grid;
    place-items: center;
    width: fit-content;
    margin: 10px;
    border: 1px solid brown;
  }
  
  .tile {
    min-width: 25px;
    min-height: 25px;
    position: relative;
  }
  
  .tile-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  span {
    position: absolute;
    text-align: center;
    color: antiquewhite;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .Tile-1{
    color: blue;
  }

  .Tile-2{
    color: greenyellow;
  }

  .Tile-3{
    color: palevioletred;
  }

  .Header{
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 30px;
    width: 100%;
  }

  .Header-item {
    background: black;
    height: 70px;
    width: 70px;
    padding: 10px;
    border-radius: 60%;
    display: grid;
    place-items: center;
  }

  .Mine-1{
    background: red;
  }
