@import "./form.css";
@import "./modal.css";
@import "./board.css";
@import "./sideBar.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input {
    background: none;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align: center;
  }

  .board-container {
    display: grid;
    place-items: center;
    justify-content: space-between;
    border-radius: 20px;
    width: fit-content;
    box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.2);
    padding: 20px;
  }

  .Parent {
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center;
    height: 100%;
    width: 100%;
  }

.container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

button{
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}