.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 2;
  }

  .modal-form {
    width: 600px;
    padding: 10px 0;
    display: grid;
    place-items: center;
    border-radius: 10px;
    z-index: 3;
  }

  .modal-form[visible="false"] {
    opacity: 0;
  }

  .modal[visible="false"] {
    opacity: 0;
    z-index: -1;
  }

  .modal[visible="true"] {
    opacity: 1;
    transition: opacity 1s;
  }

  .modal-form[visible="true"] {
    opacity: 1;
    transition: opacity 1s;
  }

  .modal-button-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .modal-buttons {
    height: 50px;
    width: 150px;
    font-size: 1rem;
    border-radius: 10px;
  }

  .win {
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .lose {
    grid-template-rows: 1fr 1fr 1fr;
  }

  .cancel {
    background: #F44336;
  }

  .save {
    background: #4CAF50;
  }