.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wall-button {
    border-radius: 10px;
    width: 80%;
    height: 50px;
    margin: 20px 0;
    font-size: 1rem;
  }

.toggle-button {
    position: relative;
    margin: 20px 0px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
  }

.toggle-button img {
    height: 70%;
    width: 70%;
  }